# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Build outputs
dist/
build/
*.egg-info/

# Database & SQLite
*.db
*.sqlite3

# Environment & Logs
.env
*.log

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
